.ss-container {
  position: relative;
  .ss-wrapper {
    position: relative;
    z-index: 1;

    float: left;
    overflow: hidden;

    height: 100%;

    .ss-content {
      position: relative;

      overflow: auto;

      width: 100%;
      height: 100%;
      margin-right: -18px;
      padding-right: 32px;
    }
  }

  .ss-scroll {
    position: absolute;
    z-index: 2;
    top: 0;
    right: 0;

    width: 9px;

    cursor: pointer;
    -webkit-transition: opacity 250ms linear;
    transition: opacity 250ms linear;

    opacity: 0;
    background: rgba(0, 0, 0, .2);

    &.ss-hidden {
      display: none;
    }
  }

  &:active,
  &:hover {
    .ss-scroll {
      opacity: 1;
    }
  }
}

.ss-grabbed {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
